/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
@import "bootstrap/theme";
@import "bootstrap";

@media(min-width: 1200px){
  .container{
    max-width: 1400px;
    width: auto;
  }
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node circle.artifact {
  fill: #fff;
  stroke: lightsteelblue;
  stroke-width: 2px;
}
.node circle.one2many {
  fill: #fff;
  stroke: lightsteelblue;
  stroke-width: 2px;
  opacity: 0.5;

}

.node circle.unique{
  fill: #fff;
  stroke: #ffa500;
  stroke-width: 1px;
}

.node text {
  font: 12px sans-serif;
}

.node text.unique {
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.table-model-list{
  .panel-heading>h3{
    cursor: pointer;
  }
}