/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
@import "bootstrap/theme";
@import "bootstrap";

@media(min-width: 1200px){
  .container{
    max-width: 1400px;
    width: auto;
  }
}


.table-model-list{
  .panel-heading>h3{
    cursor: pointer;
  }

  .panel-body {
    padding: 0;
  }

  tbody tr{
    cursor: pointer;

  }
  tr.primary-key{
    .column-name{
      color: rgb(255, 165, 0);
      font-weight: bold;
    }
  }
  tr.foreign-key{
    .column-name{
      color: rgb(224, 102, 58);
      font-weight: bold;
    }
  }
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{
  background-color: #FEE4B6;
}

.table > tbody > tr.active > td,
.table > tbody > tr.active > th{
  background-color: #FED88F;
}

.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #FECD72;
}