html{
  font-size: 100%;
}
body {
  font-size: 100%;
  min-height: 2000px;
  // padding-top: 70px;
}

.form-actions{
  margin-top: 10px;
}

table tr td{
  font-size: 12px;
  &.key{
    color: rgb(255, 165, 0);
  }
}