.table-model-list{
  position: relative;

  .panel-heading>h3{
    cursor: pointer;
  }

  .panel-body {
    padding: 0;
  }

  tbody tr{
    cursor: pointer;

  }
  tr.primary-key{
    .column-name{
      color: rgb(255, 165, 0);
      font-weight: bold;
    }
  }
  tr.foreign-key{
    position: relative;

    .column-name{
      color: rgb(224, 102, 58);
      font-weight: bold;
    }

    .tip{
      position: absolute;
      right: 100%;
    }
  }


  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th{
    background-color: #FEE4B6;
  }

  .table > tbody > tr.active > td,
  .table > tbody > tr.active > th{
    background-color: #FED88F;
  }

  .table-hover > tbody > tr.active:hover > td,
  .table-hover > tbody > tr:hover > .active,
  .table-hover > tbody > tr.active:hover > th {
    background-color: #FECD72;
  }

}